<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Roomie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAA80A5620EACF6100FBEB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAA80A6A20EACF6100FBEB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CAA80A7520EACF6100FBEB35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
